.intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7) 95%),
                    url("../images/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  padding: 200px;
  padding-top: 100px;
  margin-top: 68px;
}
