.intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7) 95%);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center center;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-top: 68px;
}

@media (max-width: 720px) {
  .intro {
    margin-top: 0px;
  }
}
