body {
  font-family: Arial, sans-serif;
}

.text-large {
  font-size: 3em;
}

.text-center {
  text-align: center;
}

.text-intro {
  color:white;
}

.text-title {
  font-weight: normal;
  font-size: 2em;
}
